<% include ../partials/header.ejs %>
<header>
    <h1>Ntalk</h1>
    <h4>There are something wrong! :X</h4>
</header>
<p>
    Error details:
    <br>
    <%- error.message %>
</p>
<hr>
<p>How about going back? <a href="/">home page?</a> :)</p>
<% include ../partials/footer.ejs %>